{% extends 'base.html.twig' %}
{% block title %}Concesionario{% endblock %}

{% block body %}
    <div class="jumbotron text-center mb-5">
        <h1 class="display-4">Concesionario de Samu</h1>
        <p class="lead">Bienvenido a la gestión de vehículos.</p>
        <a href="{{ path('nuevo_coche') }}" class="btn btn-success btn-lg">Añadir Coche</a>
    </div>

    <div class="row">
        {% for coche in coches %}
            <div class="col-md-4">
                {{ include ('partials/datos_coche.html.twig', {'coche': coche})}}
            </div>
        {% else %}
            <div class="alert alert-info">No hay coches registrados todavía.</div>
        {% endfor %}
    </div>
{% endblock %}