{% extends 'base.html.twig' %}
{% block title %} Contactos {% endblock %}
{% block body %}
    <h1>Listado de Contactos</h1>
    {% if contactos %}
        {% for contacto in contactos %}
            {% include 'partials/datos_contacto.html.twig' with {'contacto': contacto} %}
        {% endfor %}
    {% else %}
        <p>No se han encontrado contactos</p>
    {% endif %}
{% endblock %}